[submodule "xmonad"]
	path = xmonad
	url = http://github.com/xmonad/xmonad
[submodule "xmonad-contrib"]
	path = xmonad-contrib
	url = http://github.com/xmonad/xmonad-contrib
[submodule "xmobar"]
	path = xmobar
	url = https://github.com/jaor/xmobar
